#main_body{
    color: black;
    background-color: white;
}

.box1, .box2, .box3, .box4{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 50px;
    display: flex;
}

@media (max-width: 200px) or (max-height: 300px){
    .box1, .box2, .box3,.box4 {
            background-color: aqua;
            width: 100px;
            height: 100px;
            margin: 50px;
            padding: 50px;
            display: inline-block;
        }
}