body {
    background-color: #B85042;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    background-color: #E7E8D1;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 65%;
    justify-content: space-evenly;
    align-items: center;
    /* opposite to flex direction */
}

#timing {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}

#outer {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40%;
    justify-content: space-evenly;
}

.playtime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}

.btn {
    background-color: #73605B;
    height: 85px;
    width: 145px;
    border-radius: 10px;
    font-weight: bold;
}

#start_btn {
    background-color: #962E2A;
    border-radius: 10px;
    height: 70px;
    width: 180px;
    font-weight: bold;
}

#start_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

input {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: black;
}

.pltime {
    font-size: 22px;
    font-weight: bold;
}